// src/assets/styles/_variables.scss

// Colores
$primary-color: #007bff;
$btn-active-bg:  #ff93f4;
$hover-color: #D4FF00;
$text-color: black;


$tittle-banner:#FFFFFF;
$tittle-line-heith:71px;
$tittle-font-weith:800;
$tittle-font-size: 75px;


$heith-img:574px;



$navbar-height: 60px;
$texto-previo-weith:300;
$texto-previo-size:16px;
$texto-previo-line-heith: 22px;

$button-weith:700;
$button-sizeF:20px;
$button-radius:30px;
$button-heigth: 50px;
$button-width:138px;

$card-width: 300px;
$card-heith: 369px;
$card-radius:30px;


$card-icon-w: 75,43px;
$card-icon-h: 74,1px;
$textcardsize: 40px;
// $card-icon-r:22.63



// Otras variables como fuentes, tamaños, márgenes, etc.
$body-font: 'Open Sans', sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);