// src/assets/styles/_variables.scss

// Colores
$primary-color: #007bff;
$btn-active-bg:  #ff93f4;
$hover-color: #D4FF00;
$text-color: black;
$tittle-banner:#FFFFFF;
$tittle-line-heith:71px;
$tittle-font-weith:800;
$tittle-font-size: 75px;

$width-img:1440px;
$heith-img:574px;


$navbar-height: 60px;
$texto-previo-weith:300;
$texto-previo-size:16px;
$texto-previo-line-heith: 22px;
$button-weith:700;
$button-sizeF:20px;
$button-radius:30px;


// Otras variables como fuentes, tamaños, márgenes, etc.
$body-font: 'Open Sans', sans-serif;