/* src/components/Banner.css */
@import '../styles/_variables'; 

.banner-container {
    background-image: url('../assets/img/workers.jpeg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: $heith-img;
    width: $width-img; /* Altura ajustable según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-content {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mayor legibilidad */
  }
  
  .banner-content h1 {
    font-size: $tittle-font-size;
    font-weight: $tittle-font-weith;
    line-height: $tittle-line-heith; 
    /* Tamaño de fuente del título */
  }
  .banner-content p {
    font-size: $texto-previo-size;
    font-weight: $texto-previo-weith;
    line-height: $texto-previo-line-heith;
  }

  button{
    width: 138px;
    height: 50px;
    border-radius: 30px;
    background-color: $btn-active-bg;

  }