// Cards.scss
@import '../styles/_variables'; 

.cards-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .card-icon {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    color: #666;
  }
  