// src/styles/main.scss
@import "@fontsource/open-sans";
// Importa las variables y mixins de Bootstrap primero
@import "bootstrap/scss/functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins";

// Aquí puedes sobrescribir las variables de Bootstrap antes de importar los componentes
// Ejemplo: $primary: #ff6347;
$btn-active-bg:  #ff93f4;
$card-radius:20px;
// Luego, importa los componentes de Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

// Aquí puedes agregar tus propios estilos
*{
    padding: 0px;
    margin: 0px;
   box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  width: 100vw;
  overflow-x: hidden;

  
}
body .card{
  border-radius:$card-radius ;
}
body .card-title {
  color: $btn-active-bg; }